

{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Welcome to the Chore Assignment App!</h1>

    <p>
        This web app will randomly assign the chores that need to
        be completed to you and your roommates.
    </p>

    <p>
        It will also send reminder emails with the chore assignments
        to you and all of your roommates.
    </p>

    <p>
        To use the Chore Assignment App, please click "Chore Assignments" 
        in the upper right hand corner.
    </p>

{% endblock %}